[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
mysqlclient = "*"
django-environ = "*"
firebase-admin = "*"
django-cors-headers = "*"

[dev-packages]
yapf = "*"
pycodestyle = "*"

[requires]
python_version = "3.10"
